.container.index, .page-title {
    text-align: center;
}

.blogIndexImage {
    max-width: 50%;
}

.row.show {
    max-width: 60%;
}

.show {
    max-width: 80%;
}

.thumbnail img {
    width: 100%;
}

.thumbnail#showImage{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


#showDate {
    margin-bottom: 3em;
}

#newBlogForm {
    width: 40%;
}

#newBlogBtn {
    margin-bottom: 6em;
}

#delete {
    margin-top: 5px;
}

#adventureDesc {
    margin-top: 25px;
}