<% include partials/header %>

<h1>Create a new adventure!</h1>

<!--get the form data and add to adventures array-->
<form action="/adventures" method="POST">
    <input type="text" name="name" placeholder="Adventure Name">
    <input type="text" name="image" placeholder="Image URL">
    <button>Submit</button>
</form>

<a href="/adventures">Go back to All adventures page</a>
<% include partials/footer %>