<% include partials/header %>

<h1>This is the travels page!</h1>

<!--Loop through the travels array(fornow) and display-->
<% travels.forEach(function(travel) { %>
    <div>
        <h4> <%= travel.name %> </h4>
        <img src="<%= travel.image %>">
    </div>
<% }); %>

<% include partials/footer %>1