<% include ./partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>This will be the home page</h1>
        <p>Welcome to TysonHood.com!</p>
    </div>
    <img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/21369216_10210137245563288_1440711167310474932_n.jpg?oh=3597903b00902740f5001dfd7f52bdfc&oe=5A4BB680">
    <img class="pull-right" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/21232092_10210095985011800_3488319638105251354_n.jpg?oh=c975f3a4ebe3d7fd9722becac16182f0&oe=5A4BD32F">
</div>

<% include ./partials/footer %>