<% include ./partials/header %>

<h1>This will be the home page</h1>

<p>Welcome to TysonHood.com!</p>

<img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/21369216_10210137245563288_1440711167310474932_n.jpg?oh=3597903b00902740f5001dfd7f52bdfc&oe=5A4BB680">

<div>
    <a href="/adventures">Check out my adventures!</a>
</div>

<a href="/blogs">Check out my blogs!</a>

<% include ./partials/footer %>