<% include ./partials/header %>

<h1>This will be the home page</h1>

<p>Welcome to TysonHood.com!</p>

<div>
    <a href="/adventures">Check out my adventures!</a>
</div>

<a href="/blogs">Check out my blogs!</a>

<% include ./partials/footer %>